.header {
  margin-top: 30px;
  align-items: center;

  .label {
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    flex: 1;
    opacity: 0.6;
  }

  &__input-search {
    left: 0;
    background: #ffffff;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;
    &:focus {
      border-color: #bababa;
    }
  }
  .div__spinner {
    position: relative;
    display: inline-block;
  }
  .spinner {
    animation: rotate 2s linear infinite;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    right: -50px;
    & .path {
      stroke: hsl(210, 70, 75);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes dash {
      0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
      }
      100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
      }
    }
  }
}
