.message {
  position: absolute;
  top: 1%;
  left: 36%;
  &__error {
    font-size: 20rem;
    text-align: center;
    margin: 0;
  }

  &__rotate {
    transform: rotate(-57deg);
    font-size: 4rem;
    position: absolute;
    top: 22%;
    left: -11%;
  }
  &__notfound {
    font-size: 2rem;
  }
}
